@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center">
    <h1>Best Calculator</h1>
</div>
<div id="calculator">
    <!-- Screen and clear key -->
    <div class="top">
        <!--<span class="clear">C</span>-->
        <div class="screen" id="screen">
            <span id="history_7"></span>
            <span id="history_6"></span>
            <span id="history_5"></span>
            <span id="history_4"></span>
            <span id="history_3"></span>
            <span id="history_2"></span>
            <span class="top"id="top"></span>
        </div>
        
    </div>
    <div class="keys">
        <div id="radioButtons" style="text-align: center">
            <div class="btn-group" style="margin-bottom: 16px" data-toggle="buttons">
                <label class="btn active btn-primary options">
                    <input type="radio" name="options" id="standard" autocomplete="off" checked> Standard
                </label>
                <label class="btn btn-primary options">
                    <input type="radio" name="options" id="scientific" autocomplete="off"> Scientific
                </label>
                <label class="btn btn-primary options">
                    <input type="radio" name="options" id="graphing" autocomplete="off"> Graph
                </label>
                <label class="btn btn-primary options">                    
                    <input type="radio" name="options" id="developer" autocomplete="off">
                    <strong style="font-size: 13px;" class="glyphicon glyphicon-console"></strong>
                </label>
            </div>
        </div>

        <!-- operators and other keys -->
        <div id="numberBtns">
            <span class="numbers">7</span>
            <span class="numbers">8</span>
            <span class="numbers">9</span>
            <span class="operator">+</span>
            <span class="numbers">4</span>
            <span class="numbers">5</span>
            <span class="numbers">6</span>
            <span class="operator">-</span>
            <span class="numbers">1</span>
            <span class="numbers">2</span>
            <span class="numbers">3</span>
            <span class="operator">÷</span>
            <span class="numbers">0</span>
            <span class="numbers">.</span>
            <span class="eval">=</span>
            <span class="operator">x</span>
        </div>
    </div>
    <div class="keys" id="scientificRegion" style="display: none">
        <span class="operator scientificOperator">%</span>
        <span class="operator scientificOperator">sqrt</span>
        <span class="operator scientificOperator">x^2</span>
        <span class="operator">e</span>
        <span class="operator scientificOperator">sin</span>
        <span class="operator scientificOperator">cos</span>
        <span class="operator scientificOperator">tan</span>
        <span class="operator">ln</span>
        
    </div>
    <div id="graphingInput">
        <input placeholder="x^2" type="text" id="inputTxtBox" class="form-control" />
    </div>
    <div id="clearBtn" class="keys">
        <span class="clear">Clear</span>
    </div>
    <div id="developerOptions">
        <p>Default Pixel Size: <span id="amount"></span></p>
        <div id="slider-range-max"></div>
        <div class="row">
            <div style="padding-top: 14px;">
                <div class="col-xs-7">
                    <input id="developerInput" class="form-control" />
                </div>
                <div class="col-xs-5">
                    <div class="pull-right">
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="emBtn" type="button" class="btn btn-default">EM</button>
                            <button id="pxBtn" type="button" class="btn btn-default">PX</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="text-align: center;" id="developerAns"></h1>
    </div>
</div>



