@{
    ViewData["Title"] = "Home Page";
}
<div id="calculator">
    <!-- Screen and clear key -->
    <div class="top">
        <!--<span class="clear">C</span>-->
        <div class="screen"></div>
    </div>

    <div class="keys">
        <div style="text-align: center">
            <div class="btn-group" style="margin-bottom: 16px" data-toggle="buttons">
                <label class="btn active btn-primary options">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Standard
                </label>
                <label class="btn btn-primary options">
                    <input type="radio" name="options" id="scientific" autocomplete="off"> Scientific
                </label>
                <label class="btn btn-primary options">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Graphing
                </label>
            </div>
        </div>
        <!-- operators and other keys -->
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span class="operator">+</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span class="operator">-</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span class="operator">÷</span>
        <span>0</span>
        <span>.</span>
        <span class="eval">=</span>
        <span class="operator">x</span>
        <span class="clear">Clear</span>
    </div>
    <div class="keys" id="scientificRegion">
        <span class="operator scientificOperator">%</span>
        <span class="operator scientificOperator">sqrt</span>
        <span class="operator scientificOperator">x^2</span>
        <span class="operator">e</span>
        <span class="operator scientificOperator">sin</span>
        <span class="operator scientificOperator">cos</span>
        <span class="operator scientificOperator">tan</span>
        <span class="operator">nl</span>
    </div>
</div>
<div id="bar">

</div>



