/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 14px Arial, sans-serif;
}

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */
html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 325px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: #607D8B;
	border-radius: 3px;
	box-shadow: 0px 4px #455A64, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 250px;
	width: 300px;
	
    position:relative;

	float: right;
	padding: 0 10px;
    margin-bottom: 20px;
	
	background: #263238;
	border-radius: 3px;
	
	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

 .top .screen span {
    position: absolute;
    display:inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:5px;
    right:0;
 }

  .top .screen span#top {
    top: 0;
    display: table-caption;
    padding-left: 10px;
}

 .top .screen span#bottom {
    bottom: 0;
    display: table-caption;
    padding-left: 10px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: #ECEFF1;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all .2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
    width: 100%;
}

/* Some hover effects */
.keys span:hover {
	background: #dadada;
	box-shadow: 0px 4px #dadada;
	color: #000000;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.keys span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}

.options{
    background-color: #009de4;
    font: bold 14px Arial, sans-serif;

}

.btn-primary{
    background-color: #B0BEC5;
    color: #2a2a2a
}

/*.btn-primary active{
    background-color:#78909C;
}*/

.btn-primary:hover{
    background: #dadada;
	box-shadow: 0px 4px #888;
	color: #000000;
}

#bar{
   background: linear-gradient(#9dd2ea, #8bceec);
   height: auto;
}

.scientificOperator {
    margin-right: 7px !important;
}

span{
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#graphingInput{
    display: none;
    padding-bottom: 8px;
}

